body {
    background-image: URL("../pictures/821.jpg");
    background-repeat: repeat;
    background-size: 300px;

}

h1 {
    font-family: "Roboto Slab";
    font-size: 45px;
}

h2 {
    font-family: "Roboto Slab";
    font-size: 25px;
}

h3 {
    font-family: "Raleway";
    font-size: 22px;
    font-weight: bold;
    color: GreenYellow
}

h4 {
    font-family: "Roboto Slab";
    font-size: 20px;
}

h5 {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: bold;
}

h6 {
    font-family: "Raleway";
    font-size: 22px;
}

p {
    font-family: "Raleway";
    font-size: 18px;
}
